# Environment
venv/
.env

# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
*.log

# Jupyter/Colab
.ipynb_checkpoints/

# VS Code
.vscode/
# PyCharm
# PyCharm
cache/
.idea/

# Pytest
.pytest_cache/
.__pycache__